@charset "utf-8";
/* CSS Document */
.cw-container{
    width:100%;
    width:expression(document.body.clientWidth <= 1190? "1190px": "auto");
    min-width:1290px;
    }
/*内容所在div的宽度*/
.cw-top-cont, .map-cont, .footer-cont, .cw-process, .cw-main, .cw-partner, .about-main, .cw-car, .thumbs{
	width:1190px;
	margin:0 auto;
	}	
.top-main {
width: 1172px;
margin: 0 auto;
}
/*banner*/
.slider-container{
	clear:both;
	height:340px;
	}
.main-slider{
	height:340px;
	position:relative;
	overflow:hidden;
	}
.slide-pic{
	width:1190px;
	margin:0 auto;
	}
.slide-item{
	width:100%;
	}
.color-1{
	background:#9ebbcb;
	}
.color-2{
	background:#2965AD;
	}
.color-3{
	background:#359D99 url(../../images/index/banner_bg3.png) no-repeat;
	}
.color-4{
	background:#f05c1e;
	}
.color-5{
	background:#Ff7400;
	}
.thumbs ul{
	float:right;
	position:relative;
	top:-50px;
	right:80px;
	z-index:4;
	}
.thumbs ul li{
	float:left;
	position:relative;
	width:16px;
	height:16px;
	background:url(../../images/index/thum1.png);
	margin-right:15px;
	}
.thumbs ul li.curr,.thumbs ul li:hover{
	background:url(../../images/index/thum2.png);
	cursor:pointer;
	}	
.banner-bott{
	float:left;
	background:url(../../images/index/banner_bg.png) repeat-x;
	height:65px;
	width:100%;
	position:absolute;
	top:425px;
	}
.cw-login{
	width: 1190px;
margin: 0px auto;
position: relative;
	}
.cw-login .login-pho{
	position:relative;
	text-align:right;
	left:102px;
	_position:absolute;
	_left:80%;
	}
/*四个图标*/
.cw-car{
	height:200px;
	}
.cw-car .cw-car-list{
	width:200px;
	float:left;
	margin:30px 17px 0;
	display:inline;
	text-align:center;
	font-family:"微软雅黑";
	}
.cw-car-list h3{
	font-size:24px;
	color:#686868;
	font-weight:500;
	}
.cw-car-list p{
	height:30px;
	margin:14px 0 0 0;
	font-size: 14px;
	}
.cw-car-list p a{
	line-height:25px;
	color:#a0a0a0;
	font-size:14px;
	text-decoration:none;
	}
.cw-car-list p a:hover{
	color:#787373;
	}
/*地图*/
.cw-map{
	height:550px;
	width:100%;
	margin-bottom:65px;
	}
.map-cont-fl{
	float:left;
	}
.map-cont p{
	padding:36px 0 0 27px;
	color:#000;
	font-size:20px;
	font-family:"微软雅黑";
	}
.map-cont .span1, .map-cont .tex-wid90{
	font-size:30px;
	}
.map-cont .span2{
	color:#f4af2c;
	}
.map-cont .map-left{
	float:left;
	margin:0px 20px 0 22px;
	display:inline;
	}
.map-cont .map-right{
	float:left;
	}
.map-cont form{
	font-family:"微软雅黑";
	padding-top:140px;
	width:400px;
	}
.map-cont form .tex-wid90{
	display:block;
	width:90px;
	text-align:right;
	color:#7c7c7c;
	font-size:18px;
	float:left;
	line-height:32px;
	}
.map-cont form .wid284{
	float:left;
	width:280px;
	height:34px;
	border:1px solid #ccc;
	border-radius:5px;
	margin-bottom:17px;
	background:#fff;
	}
.SelectControl{
	float:left;
	border:solid 1px #ccc;
	border-radius:5px;
	height:34px;
	width:280px;
	background:#fff;
	position:relative;
	cursor:pointer;
	margin-right:11px;
	margin-bottom:17px;
	}
.SelectControl input{
	position:relative;
	margin:0;
	float:left;
	width:276px;
	border-radius:5px;
	height:34px;
	line-height:34px;
	background:none;
	border:none;
	background:url(../../images/index/arrowupdown.gif) no-repeat 250px 7px;
	padding-left:8px;
	font-size:18px;
	cursor:pointer;
	_width:270px;
	_background:url(../../images/index/arrowupdown.gif) no-repeat 256px 7px;
	}
.SelectControl ul{
	position:relative;
	z-index:10000;
	left:-1px;
	margin-top:32px;
	border:solid 1px #ccc;
	background:#fff;
	}
.SelectControl li{
	height:30px;
	line-height:30px;
	overflow:hidden;
	padding:0 6px;
	cursor:pointer;
	}
.SelectControl li.on{
	background:#ccc;
	color:#fff;
	}	
.map-cont form .button1, .map-cont form .button2{	
    margin:0;
	font-family:"微软雅黑";
	color:#fff;
	font-size:20px;
	border:none;
	cursor: pointer;
	}	
.map-cont form .button1{
	width:254px;
	height:59px;
	background:#f2a633;
	margin-right:5px;
	}
.map-cont form .button2{
	width:122px;
	height:59px;
	background:#00479d;
	}
/*平台流程*/	
.cw-process p{
	color:#000;
	font-size:20px;
	font-family:"微软雅黑";
	padding-left:25px;
	}
.cw-process p span{
	font-size:30px;
	}
.cw-process ul{
	padding:36px 0 0 20px;
	}
.cw-process li{
	float:left;
	}
.cw-process li img{
	float:left;
	}
.cw-process li span{
	float:left;
	display:block;
	width:175px;
	font-size:17px;
	color:#585858;
	font-family:"微软雅黑";
	padding:20px 38px 0 15px;
	}
.cw-process .pro-spe{
	margin:16px 21px 0 0;
	}
/*交易动态  车源  下载*/
.cw-main{
	clear:both;
	margin-top:87px;
	}
.cw-main .main-left, .cw-main .main-center{
	float:left;
	margin-right:27px;
	padding-bottom:65px;
	}
.cw-main .main-left p, .cw-main .main-center p{
	color:#222;
	font-size:22px;
	font-family:"微软雅黑";
	padding:0 0 10px 10px;
	border-bottom:1px solid #9d9d9d;
	}
.cw-main ul{
	margin-left:6px;
	}
.cw-main li{
	line-height:44px;
	color:#5a5a5a;
	font-size:14px;
	font-family:"微软雅黑";
	background:url(../../images/index/li-icon.png) no-repeat 0 13px;
	padding-left:32px;
	}
.cw-main .main-left span, .cw-main .main-center span{
	color:#00479d;
	}
.cw-main .main-left{
	width:317px;
	}
.cw-main .main-center{
	width:400px;
	}
.cw-main .main-right{
	float:left;
	width:400px;
	}
.cw-main .dow-left{
	float:left;
	width:180px;
	text-align:center;
	padding:40px 20px 0 0;
	}
.cw-main .dow-left p{
	font-size:24px;
	color:#222;
	margin-bottom:10px;
	}
.cw-main .dow-left span{
	font-size:32px;
	}
.cw-main .down-right{
	float:left;
	}
/*合作伙伴*/		
.cw-partner{
	clear:both;
	border:1px solid #efeeee;
	}
.cw-partner li{
	float:left;
	border-right:1px solid #f4f1f1;
	}
/**右侧栏**/
#Car_page_rightButton{
 position:fixed; 
 _position:absolute; 
 top:208px; right:0; 
 z-index:999999; 
 display:block;
}
#Car_page_rightButtonS{
 position:relative;
}
.Car_page_Eject{
 position:absolute;
 right:10px;
}
.Car_page_Eject a{
 display:block;
 width:52px;
 height:54px;
 text-decoration:none;
}
.Car_page_Eject a:hover{
 text-decoration:none;
}
.Car_page_Eject2{
 background:url(../../images/index/EjectTop_pic.png) no-repeat 0px -115px;
}
.Car_page_Eject2:hover{
 background:url(../../images/index/EjectTop_pic.png) no-repeat -53px -115px;
}
.Car_page_Eject3{
 background:url(../../images/index/EjectTop_pic.png) no-repeat 0px -56px;
}
.Car_page_Eject3:hover{
 background:url(../../images/index/EjectTop_pic.png) no-repeat -53px -56px;
}
.Car_page_Eject4{
 background:url(../../images/index/EjectTop_pic.png) no-repeat 0px 4px;
}
.Car_page_Eject4:hover{
 background:url(../../images/index/EjectTop_pic.png) no-repeat -53px 4px;
}
#Car_page_rightButton{ position:fixed; _position:absolute; top:402px; right:0; z-index:999999; display:block;}
#Car_page_rightButtonS{ position:relative;}
/**右侧弹层**/
.kefu_block {
	position:absolute;
	width:198px;
	display:none;
	background:url(../../images/index/arrow_bg.png) repeat-x;
	border:1px solid #dedede;
	right:72px; top:32px;
	font-family:"微软雅黑";
	border-radius:5px 5px 5px 5px;
}
.kefu_box {
	width:198px;
	overflow:hidden;
}
.kefu_boxS{
 text-align:center;
}
.kefu_boxS span{
  color:#9b9b9b;
  line-height:30px;
}
.kefu_boxS img{
 float:right;
 margin:8px 5px 0px 0px;
 *margin-top:-23px;
}
.kefu_listBox{
 background-color:#fff;
 font-size:12px;
 padding-bottom:10px;
}
.kefu_listBox .QQList{
 display: block;
 width: 90%;
 height: 36px;
 padding-top:10px;
 margin: 0px auto 0px auto;
 line-height:36px;
 padding-left:35px;
}
.QQList a {
 float: left;
}
.kefu_arrow{
 float:right;
 position:absolute;
 right:-8px; top:46px;
}
.kefu_phone{
 position:absolute;
 width:253px;
 height:45px;
 right:72px; top:5px;
}
.kefu_text{
 width:253px;
 overflow:hidden;
}
.kefu_textS input{
 padding-left:10px;
 color:#ccc9c9;
 height:43px;
 line-height:43px;
 width:241px;
 border-radius:5px 5px 5px 5px;
 border:1px solid #ccc;
}
.kefu_textS img{
 position:absolute;
 right:15px; top:5px;
} 
.kefu_arrow2{
 float:right;
 position:absolute;
 right:-7px; top:15px
}
.kefu_textS a{
 cursor:pointer;
}
.box{position:absolute;left:35%;right:auto;top:150px;width:526px;height:429px;background:url(../../images/index/login-bg.png) no-repeat;z-index:100;display:none;font-family:"微软雅黑";}
.row{clear:both;padding-top:80px;margin-left:125px;}
.close{width:16px;height:16px;background:url(../../images/index/close1.png) no-repeat;float:right;margin-right:19px; display:inline; margin-top:11px;}
.error-pass{color:#f00;line-height:34px;margin-left:50px;}
.box input{width:270px;height:34px;border:1px solid #ccc;border-radius:5px;margin-bottom:14px;background:#fff;line-height:34px;padding-left:5px;float:left;}
#loginbtn{border:none;color:White;background:#f69604;font-size:24px;width:280px;height:41px;text-decoration:none;border-radius:5px;opacity:0.8;filter:alpha(opacity=80);cursor:pointer;}
#txtYzm{width:120px;float:left;}
.yzm-pic{float:left;margin-left:10px; display:inline;}
.text-huan{float:left;line-height:34px;margin-left:10px;}
.text-huan a{color:#09F;}
.text-huan a:hover{color:#057bca;}
.log-p1{float:left;font-size:16px;margin:0 300px 5px 120px;display:inline;}
.log-p1 a, .log-p2 a{color:#00479d;text-decoration:none;}
.log-p1 a:hover, .log-p2 a:hover{color:#61a1ee;}
.log-p2{float:right;font-size:16px;color:#6b6b6b;margin-right:50px;display:inline;}
#TB_overlayBG{background-color:#666;position:absolute;z-index:99;left:0;top:0;display:none;width:100%;height:100%;opacity:0.5;filter: alpha(opacity=50);-moz-opacity: 0.5;}

.cw-top-cont, .footer-cont{
	width:1190px;
	margin:0 auto;
	}
.cw-top-cont .cw-logo{
	float:left;
	margin:24px 0 0 14px;
	display:inline;
	}
.cw-top-cont .cw-nav{
	float:left;
	display:inline;
	text-align:right;
	width:880px;
	margin-left:200px;
	}
.cw-nav .cw-contact{
	float:right;
	background:url(../../images/index/phone-t.png) no-repeat;
	text-align:right;
	margin:11px 5px 8px 650px;
	display:inline;
	}
.cw-nav ul{
	float:right;
	}
.cw-contact a{
	padding-left:34px;
	text-decoration:none;
	font-size:24px;
	color:#5d5d5d;
	}
.cw-nav ul{
	padding-bottom:11px;
	}
.cw-nav li{
	float:left;
	font-family:"微软雅黑";
	width:90px;
	line-height:34px;
	}
.cw-nav li a{
	font-size:16px;
	color:#666;
	display:block;
	width:90px;
	height:34px;
	text-align:center;
	text-decoration:none;
	}

/**尾部**/	
.cw-footer{
    margin-top:50px;
	background:#f4f4f4;
	height:300px;
	}
.cw-footer .footer-left{
	float:left;
	width:430px;
	margin:0 70px 0 46px;
	display:inline;
	}
.footer-left .bot-logo{
	float:left;
	margin:29px 60px 55px 0;
	}
.footer-left .bot-contact{
	float:left;
	margin-top:41px;
	}
.bot-contact img{
	float:left;
	margin-right:11px;
	}
.bot-contact .bot-num{
	float:left;
	}
.bot-num .text1{
	color:#3b3b3b;
	font-size:27px;
	}
.bot-num .text2{
	color:#6e6e6e;
	font-size:14px;
	font-family:"微软雅黑";
	}
.footer-left p{
	clear:both;
	color:#3a3a3a;
	font-size:12px;
	font-family:"微软雅黑";
	}
.footer-left ul{
	margin-top:35px;
	}
.footer-left li{
	float:left;
	margin-right:20px;
	}	
.cw-footer .footer-center{
	float:left;
	margin-right:20px;
	}
.footer-center .foot-list{
	margin-right:60px;
	color:#000;
	font-family:"微软雅黑";
	float:left;
	}	
.footer-center .foot-list dt{
	font-size:18px;
	line-height:40px;
	margin-top:15px;
	}
.footer-center .foot-list dd{
	font-size:14px;
	line-height:30px;
	}
.footer-center .foot-list dd a{
	color:#000;
	text-decoration:none;
	}
.footer-center .foot-list dd a:hover{
	color:#aaa;
	}
.footer-right img{
	padding-bottom:18px;
	}

	.download-main{
	font-family:"΢���ź�";
	}
.download-main .DL-list1, .download-main .DL-list2, .download-main .DL-list3{
	width:100%;
	border-bottom:1px solid #d0d0d0;
	background-color:#fff;
	}
.download-main .DL-list4{
	width:100%;
	background-color:#fff;
	}
.download-main .DL-list-cont1, .download-main .DL-list-cont2, .download-main .DL-list-cont3, .download-main .DL-list-cont4{
	width:1190px;
	margin:0 auto;
	}
.download-main .DL-list-cont1{
	height:768px;
	background:url(../../images/download/DL1.jpg) no-repeat 20px 155px;
	}
.download-main .DL-list-cont2{
	height:1020px;
	background:url(../../images/download/DL2.jpg) no-repeat 470px 60px;
	}
.download-main .DL-list-cont3{
	height:940px;
	background:url(../../images/download/DL3.jpg) no-repeat 75px 45px;
	}
.download-main .DL-list-cont4{
	height:1190px;
	background:url(../../images/download/DL4.jpg) no-repeat 340px 70px;
	}
.DL-list-main1, .DL-list-main2, .DL-list-main3, .DL-list-main4{
	width:440px;
	}
.DL-list-main1{
	position:relative;
	left:685px;
	top:310px;
	}
.DL-list-main2{
	position:relative;
	left:50px;
	top:160px;;
	}
.DL-list-main3{
	position:relative;
	left:580px;
	top:265px;
	}
.DL-list-main4{
	position:relative;
	left:0px;
	top:380px;
	}
.download-main .DL-title{
	height:50px;
	font-size:29px;
	color:#000;
	font-weight:bold;
	text-align:center;
	background:url(../../images/download/DL-line.png) no-repeat 35px 45px;;
	}
.download-main .DL-text, .download-main .DL-text1{
	font-size:19px;
	color:#a9a9a9;
	line-height:35px;
	}
.download-main .DL-text1{
	text-align:center;
	}

	.pages_top{
 line-height:35px;
 background-color:#f5f5f5;
 border-bottom:1px solid #dcdcdc;
}
.pages_tops{
 width:1190px;
 margin:0px auto;
 }
.pages_tops{
 color:#909090;
 height:35px;
}
.pages_top a{
 color:#909090;
}
.pages_top a:hover{
 color:#ff4200;
}
.pages_down{
 background:url(../../images/index/icon_down.png) no-repeat 0px 17px;
 
}

.cw_carlogin{
 width:328px;
 height:306px;
 background-color:#ff6600;
 position:absolute;
 top:20px; left:15px;
 border-radius:5px 5px 5px 5px;
 padding:3px 3px 3px 3px;
 z-index: 44;
}
.cw_carlogins{
 background-color:#fff;
 width:322px;
 height:300px;
 margin:0px auto;
 margin-top:3px;
 border-radius:5px 5px 5px 5px;
}
.cw_carstitle li{
 font-size:18px;
 width:155px;
 padding-left:6px;
}
.carbg_color{
  color:#fff;
  background:#ff6600 url(../../images/index/pic_big2.png) no-repeat 17px 10px;
  display:block;
}
.carbg_color2{
 background:url(../../images/index/pic_big.png) no-repeat 28px 10px;
 color:#ff6600;
}
.cw_carlist label{
	float: left;
 color:#ff6600;
 font-family:'Microsoft YaHei',sans-serif;
}
.cw_carlist .cw_cartext,.cw_carlist .cw_cartext2{
 height:33px;
 line-height:33px;
}
.cw_cartext{
 width:217px;
}
.cw_cartext2{
 width:201px;
}
.cw_carimg{
 height:60px;
 background:url(../../images/index/car_bg.png) repeat-x;
 line-height:60px;
 position:relative;
 font-size:14px;
}

.cw_carimg span{
 font-size:18px;
}
<!--地图-->
.rightlist_infor{
 width:240px;
}
.rightlist_infor dt{
 color:#ff6600;
 font-size:16px; 
}
.rightlist_infor dd{
 color:#333;
 font-size:12px;
}

.car_pages_rightBtn{
 width:145px;
 height:200px;
 background: rgba(0, 0, 0, 0.5);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #30000000, endColorstr = #30000000);
	color: #FFF;
 position:fixed;
 right:0px; top:160px;z-index: 555;
}
.car_pages_rightBtn .closedown{position: absolute;margin-top: 5px;margin-left: 127px;width:16px;height:16px;background:url(../../images/index/close.png) no-repeat;}

.car_pages_rightBtn .rightBtntitle{
 color:#fff;
}
.cw-top-cont{
 height:80px;
}
.cw_carlogin2{
 width:1190px;
}
.cw-top{
	background-color:#fff;
	height:80px;
	width:100%;
	width:expression(document.body.clientWidth <= 1190? "1190px": "auto");
    min-width:1290px;
	}
.cw-top-cont, .footer-cont{
	width:1190px;
	margin:0 auto;
	}
.cw-top-cont .cw-logo{
	float:left;
	margin:14px 0 0 14px;
	display:inline;
	}
.cw-top-cont .cw-nav{
	float:left;
	display:inline;
	text-align:right;
	width:700px;
	margin-left:200px;
	margin-top:-80px\0\9;
	margin-top:0px\9
	}
.cw-nav .cw-contact{
	float:right;
	background:url(../../images/Share/phone-t.png) no-repeat;
	text-align:right;
	margin:11px 5px 8px 650px;
	display:inline;
	}
.cw-nav ul{
	float:right;
	margin-top:30px;
	}
.cw-contact a{
	padding-left:34px;
	text-decoration:none;
	font-size:24px;
	color:#5d5d5d;
	}
.cw-nav ul{
	padding-bottom:11px;
	}
.cw-nav li{
	float:left;
	font-family:'Microsoft YaHei',微软雅黑,sans-serif;
	width:110px;
	line-height:34px;
	}
.cw-nav li a{
	font-size:18px;
	color:#767676;
	display:block;
	width:90px;
	/* height:34px; */
	text-align:center;
	text-decoration:none;
	font-family:'Microsoft YaHei',sans-serif;
	}
.cw-nav li a:hover,.cw-nav .cw-contactcurr{
	color:#fff;
	background-color:#FF5E00;
	border-radius:5px 5px 5px 5px;
	}
.cw-nav .cw-contactcurr span{
 background:url(../../images/index/icon_down2.png) no-repeat;
 width:11px;
 height:5px;
 display:block;
 position:relative;
 top:11px;left:41px;
}
.cw-nav .cw-navlogin a{
  font-size:14px;
  display:inline;
}
.banner_line{
 border-top:4px solid #ff6600;
}
/**尾部**/	
.cw-footer{
    margin-top:50px;
	background:#f4f4f4;
	height:300px;
	}
.cw-footer .footer-left{
	float:left;
	width:440px;
	margin:0 10px 0 46px;
	display:inline;
	}
.footer-left .bot-logo{
	float:left;
	margin:70px 60px 55px 0;
	}
.footer-left .bot-contact{
	float:left;
	margin-top:65px;
	}
.bot-contact img{
	float:left;
	margin-right:11px;
	}
.bot-contact .bot-num{
	float:left;
	}
.bot-num .text1{
	color:#3b3b3b;
	font-size:27px;
	}
.bot-num .text2{
	color:#6e6e6e;
	font-size:14px;
	font-family:'Microsoft YaHei',微软雅黑,sans-serif;
	}
.footer-left p{
	clear:both;
	color:#3a3a3a;
	font-size:12px;
	font-family:'Microsoft YaHei',微软雅黑,sans-serif;
	}
.footer-left ul{
	margin-top:35px;
	}
.footer-left li{
	float:left;
	margin-right:20px;
	}	
.cw-footer .footer-center{
	float:left;
	margin-right:10px;
	}
.footer-center .foot-list{
	/* width:75px; */
	margin-right:40px;
	color:#000;
	font-family:'Microsoft YaHei',微软雅黑,sans-serif;
	float:left;
	}	
.footer-center .foot-list dt{
	font-size:18px;
	line-height:40px;
	margin-top:15px;
	}
.footer-center .foot-list dd{
	font-size:14px;
	line-height:30px;
	}
.footer-center .foot-list dd a{
	color:#000;
	text-decoration:none;
	}
.footer-center .foot-list dd a:hover{
	color:#aaa;
	}
.cw-footer .footer-right{
	float:left;
	margin-top:30px;
	font-size:18px;
	color:#373737;
	font-family:'Microsoft YaHei',微软雅黑,sans-serif;
	text-align:center;
	width:190px;
	}
.footer-right img{
	padding-bottom:18px;
	}

	.gundonginfo2{
		height: 230px;
		line-height: 2;
		overflow: hidden;
	}
.gundonginfo1{
	height: 190px;
		line-height: 1.8;
		overflow: hidden;
	}