@charset "utf-8";
/*right*/
/*right-list*/
.next-lists-form table td.nextsel {
	color: #000000;
	line-height: 20px;
	padding: 7px 5px;
	width: 336px;
}

.next-lists-form table td.mark input {
	border: 1px solid #d5d9de;
	color: #b4b4b4;
	height: 12px;
	padding: 8px 10px;
	width: 180px;
}

.lists-form table td.mark .mark_a {
	color: #006699;
	margin-left: 7px;
}
/*提交前按钮*/
.next-lists-form table td.nextsel input.nextselbtn[type="submit"] {
	width: 159px;
	height: 36px;
	color: #fff;
	background-color: #ff7200;
	border: 0px;
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	margin-top: 23px;
	font-weight: bold;
	font-size: 14px;
}
.next-lists-form  table td.nextsel input[type="button"]{
 width:214px;
 height:36px;
 color:#fff;
 background-color:#ff7200;
 border:0px;
 border-radius:2px 2px 2px 2px;
 cursor:pointer;
 margin-top:23px;
 font-weight:bold;
 font-size:14px;
}
/*下拉框美化*/
.rightsideBar .select_all .select_box {
	border: 1px solid #d5d9de;
	color: #b4b4b4;
	height: 30px;
	position: relative;
	background-color: #fff;
}

.rightsideBar .select_allbr .select_box {
	width: 120px;
}

.rightsideBar .select_all .select_showbox {
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
}

.rightsideBar .select_allbr .select_showbox {
	background: url(../../images/oil/icon2.png) no-repeat 95px 12px;
}

.rightsideBar .select_all .select_option {
	border: 1px solid #b0a296;
	border-top: none;
	display: none;
	position: absolute;
	top: 31px;
	left: -1px;
	background-color: #fff;
	z-index: 9999;
}

.rightsideBar .select_allbr .select_option {
	width: 120px;
}
/*下拉框美化结束*/
/*油卡交易记录*/
.posi {
	position: relative;
	top: 2px;
}

.rightsideBar table.table_border2 td.bar_lose {
	padding: 8px 0px 8px 10px;
}
/*弹出整体样式*/
.rightsideBar .sidebar_mydiv {
	background-color: #fff;
	border: 1px solid #ff7200;
	padding: 5px 10px 10px 10px;
	width: 342px;
	position: relative;
	left: -111px;
	top: 5px;
	z-index: 9999;
}

.rightsideBar .sidebar_mydiv2 {
	background-color: #fff;
	border: 1px solid #e73030;
	padding: 10px 10px 10px 10px;
	position: absolute;
	width: 114px;
	left: -68px;
	top: 30px;
	color: #e73030;
	z-index: 9999;
}

.rightsideBar .sidebar_mydiv2 img {
	position: relative;
	top: -23px;
	left: -15px;
}

.rightsideBar .sidebar_mydiv table,.rightsideBar .sidebar_mydiv table td
	{
	border: 1px solid #e9e9e9;
}

.rightsideBar .sidebar_mydiv table tr {
	line-height: 28px;
}

.rightsideBar  .sidebar_mydiv .first_mydiv {
	background-color: #f9f9f9;
	text-align: center;
	color: #555;
}

.rightsideBar  .sidebar_mydiv  .last_mydiv {
	padding-left: 10px;
	color: #333;
	background-color: #fff;
}

.rightsideBar .sidebar_mydiv .sidebar_mydivicon {
	float: left;
	position: relative;
	top: -11px;
	left: 100px;
}
/*交易明细*/
.rightsideBar .sideBar_deta {
	height: 80px;
	padding: 14px 20px 1px 20px;
}

.rightsideBar  .datetime input {
	border: 1px solid #d5d9de;
	height: 30px;
	cursor: pointer;
	padding-left: 10px;
}

.rightsideBar  .datetimelang input {
	background: #fff url(../../images/oil/sideBar_icon3.png) no-repeat 95px
		7px;
	width: 110px;
}

.rightsideBar  .datetimelang input:hover {
	background: #fff url(../../images/oil/sideBar_icon4.png) no-repeat 95px
		7px;
}

.rightsideBar .text_num input {
	border: 1px solid #d5d9de;
	height: 30px;
	line-height: 30px;
	width: 220px;
	padding-left: 10px;
}

.rightsideBar  .input_bar {
	height: 32px;
	margin-top: 2px;
}

.rightsideBar .Barsidebtn input {
	border: 0px;
	display: block;
	margin: 27px 0px 0px 0px;
	width: 101px;
	height: 31px;
	background-color: #ff7200;
	color: #fff;
	border-radius: 3px 3px 3px 3px;
	font-weight: bold;
	font-size: 14px;
}

.rightsideBar .Barsidebtn2 input {
	border: 0px;
	display: block;
	margin: 27px 0px 0px 0px;
	width: 101px;
	height: 31px;
	border-radius: 3px 3px 3px 3px;
	font-weight: bold;
	font-size: 14px;
}

.rightsideBar .sidebtn {
	display: block;
	margin: 36px 0px 0px 0px;
}

.rightsideBar div li.litab a,.rightsideBar div li .datetime a {
	display: block;
	float: left;
	border: 1px solid #ff7200;
	width: 66px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #555;
}

.rightsideBar div li.litab a {
	margin: 33px 0px 0px 0px;
	background-color: #f5f5f5;
}

.rightsideBar div li .datetime a {
	background-color: #fff;
}

.rightsideBar div li.litab a.litab_a,.rightsideBar div li.litab a.litab_b,.rightsideBar div li .datetime a.litab_a,.rightsideBar div li .datetime a.litab_b
	{
	border-right: 0px;
}

.rightsideBar div li.litab a.litab_a,.rightsideBar div li .datetime a.litab_a
	{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.rightsideBar div li.litab a.litab_c,.rightsideBar div li .datetime a.litab_c
	{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.rightsideBar div li.litab a:hover,.rightsideBar div li.litab a.litab_curr,.rightsideBar div li .datetime a:hover
	{
	background-color: #ff7200;
	color: #fff;
	text-decoration: none;
}

.rightsideBar div li.li_fr {
	float: right;
}

.rightsideBar div li.li_fr a {
	color: #ff7200;
	display: block;
	background: url(../../images/oil/sideBar_icon11.gif) no-repeat 98px 3px;
	height: 20px;
	width: 90px;
	text-align: right;
	padding-right: 18px;
}

.rightsideBar div li.li_fr a.active {
	background: url(../../images/oil/sideBar_icon11.gif) no-repeat 98px
		-55px;
}

.rightsideBar div li.li_fr a:hover {
	text-decoration: none;
}

.rightsideBar .put_away {
	border: 1px solid #e9e9e9;
	border-top: 0px;
	padding: 14px 20px 1px 20px;
}

.rightsideBar div li.li_text input {
	margin: 20px 0px 0px 0px;
}

.rightsideBar div li.li_tow {
	margin-right: 20px;
}
/*油卡返利*/
.rightsideBar .titlebtn {
	border: 0px;
	background-color: #ff7200;
	border-radius: 3px 3px 3px 3px;
	color: #fff;
	width: 101px;
	height: 30px;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
	font-weight: bold;
}

.rightsideBar .titlebtn2 {
	position: relative;
	top: -4px;
}
/*油卡返利下拉框美化*/
.rightsideBar  .datetimelang2 input {
	background: #fff url(../../images/oil/sideBar_icon3.png) no-repeat 180px
		7px;
	width: 194px;
}

.rightsideBar  .datetimelang2 input:hover {
	background: #fff url(../../images/oil/sideBar_icon4.png) no-repeat 180px
		7px;
}

.rightsideBar .select_allbr2 .select_box {
	width: 194px;
}

.rightsideBar .select_allbr2 .select_showbox {
	background: url(../../images/oil/icon2.png) no-repeat 169px 12px;
}

.rightsideBar .select_allbr2 .select_option {
	width: 194px;
}
/*油卡充值*/
.rightsideBar .table_text {
	width: 114px;
	height: 25px;
	line-height: 25px;
	border: 1px solid #d5d9de;
	padding-left: 10px;
}

.rightsideBar .sideBar_btn {
	width: 101px;
	height: 30px;
	font-weight: bold;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
}

.rightsideBar .btn_bra {
	border: 1px solid #e0e0e0;
	background-color: #fff;
	color: #ff7200;
	margin-right: 10px;
}

.rightsideBar .btn_bra2 {
	background-color: #ff7200;
	color: #fff;
	border: 0px;
}

.rightsideBar .btn_bra3 {
	border: 0px;
}
/*选择充值方式*/
/*提交前上传按钮*/
.next-lists-form table td.nextsel input.nextselbtn[type="button"] {
	width: 60px;
	height: 24px;
	color: #fff;
	background-color: #ff7200;
	border: 0px;
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	font-size: 14px;
	margin-top: 0px;
}
/*提交后上传按钮*/
.next-lists-form table td.nextsel input.nextselbtn2[type="button"] {
	width: 60px;
	height: 24px;
	border: 0px;
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	font-size: 14px;
	margin-top: 0px;
}

.next-lists-form table td.nextsel2 {
	width: 400px;
}

.rightsideBar .sideBar_file {
	border: 1px solid #e9e9e9;
	padding: 20px 20px 20px 20px;
}

.rightsideBar .sideBar_file h3 {
	font-weight: bold;
	color: #333;
	line-height: 30px;
}

.rightsideBar .sideBar_file p {
	color: #676767;
	text-indent: 2em;
	line-height: 30px;
}
/*我的油卡*/
.rightsideBar .text_titlebtn {
	width: 190px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #d5d9de;
	color: #999;
	padding-left: 10px;
}

.rightsideBar .text_titlespan {
	display: inline-block;
	width: 66px;
	height: 30px;
	line-height: 30px;
	background-color: #f5f5f5;
	border: 1px solid #d5d9de;
	border-left: 0px;
	margin-left: -3px;
	text-align: center;
	cursor: pointer;
	color: #333;
	*position: relative;
	*top: -6px;
	*left: -4px;
}

@
-moz-document url-prefix (){ .rightsideBar .text_titlespan{ margin-left:-4px;
	
}

}
.rightsideBar input.baroilbtn {
	border: 0px;
	float: right;
	border: solid 2px #ff7200;
	color: #ff7200;
	background: #fff url(../../images/oil/sideBar_icon5.png) no-repeat 10px
		7px;
	padding: 4px 8px 4px 23px;
	cursor: pointer;
	*background: #fff url(../../images/oil/sideBar_icon5.png) no-repeat 16px
		4px;
	*padding: 4px 8px 4px 18px;
}
/*资金账户充值*/
.rightBar_process {
	padding: 18px 15px 29px 15px;
}

.rightBar_layers table {
	margin: 0px auto;
}

.rightBar_layers table,.rightBar_layers table td {
	text-align: center;
}

.rightBar_layers .oil_pic,.rightBar_layers .oil_pic3,.rightBar_layers .oil_pic4,.rightBar_layers .oil_pic5
	{
	width: 130px;
	height: 66px;
}

.rightBar_layers .oil_pic {
	background: url(../../images/oil/oil_pic.png) no-repeat center;
}

.rightBar_layers .oil_pic2 {
	background: url(../../images/oil/oil_pic5.png) no-repeat 0px 21px;
	width: 36px;
}

.rightBar_layers .oil_pic3 {
	background: url(../../images/oil/oil_pic2.png) no-repeat center;
}

.rightBar_layers .oil_pic4 {
	background: url(../../images/oil/oil_pic3.png) no-repeat center;
}

.rightBar_layers .oil_pic5 {
	background: url(../../images/oil/oil_pic4.png) no-repeat center;
}

.Barlayers_color {
	color: #ff7200;
}
/*提交后按钮*/
.next-lists-form table td.nextsel input.nextselbtn2[type="submit"] {
	width: 159px;
	height: 36px;
	border: 0px;
	border-radius: 2px 2px 2px 2px;
	cursor: pointer;
	font-size: 14px;
	margin-top: 23px;
	font-weight: bold;
}

.rightsideBar input.baroilbtn2 {
	background: #fff url(../../images/oil/oil_icon12.png) no-repeat 7px 6px;
}

.rightsideBar .fla_time input {
	background: #fff url(../../images/oil/sideBar_icon3.png) no-repeat 265px
		7px;
	cursor: pointer;
}

.rightsideBar .fla_time input:hover {
	background: #fff url(../../images/oil/sideBar_icon4.png) no-repeat 265px
		7px;
}
/*对公账户信息*/
.rightBar_procon table {
	color: #333;
}

.rightBar_procon table tr {
	line-height: 25px;
}
/*-----------油品首页---------------*/
/*banner*/
.oil_container {
	clear: both;
	height: 340px;
}

.oil_banner_line {
	background-color: #ff8502;
	height: 4px;
}

.slide_pic {
	margin: 0px auto;
	width: 1190px;
}

.main_slider {
	height: 340px;
	position: relative;
	overflow: hidden;
}

.slide-item {
	width: 100%;
}

.oil_bg {
	/* background:url(../../images/oil/oil_banner_bg.png) repeat-x; */
	background-color: #d4421b;
}

.oil_bg2 {
	background: #229a54;
}

.oil_bg3 {
	background: #0090bb;
}

.thumbs ul {
	float: right;
	position: relative;
	top: -24px;
	right: 554px;
	z-index: 999;
}

.thumbs ul li {
	float: left;
	position: relative;
	width: 8px;
	height: 8px;
	background: url(../../images/oil/oil_thum.png);
	margin-right: 15px;
}

.thumbs ul li.curr,.thumbs ul li:hover {
	background: url(../../images/oil/oil_thum2.png);
	cursor: pointer;
	width: 8px;
	height: 8px;
}
/*登录框*/
.oil_login {
	width: 220px;
	height: 230px;
	margin: 0px auto;
	position: relative;
	top: -313px;
	left: 394px;
	background-color: #fff;
	padding: 30px 25px 25px 25px;
	color: #333333;
	border-radius: 5px 5px 5px 5px;
	FILTER: alpha(opacity = 80);
	opacity: 0.7;
	-moz-opacity: 0.7;
}

.oil_logins {
	width: 270px;
	margin: 0px auto;
	position: relative;
	top: -588px;
	left: 394px;
}

.oil_login_main {
	
}

.oil_login_main .oil_login_top {
	margin-bottom: 35px;
	padding: 0px 26px 0px 25px;
}

.oil_login_main .oil_login_top span {
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
}

.oil_login_main .oil_login_top span.oil_num {
	position: relative;
	top: -6px;
}

.oil_login_main .oil_login_top span.oil_num a {
	font-size: 26px;
	color: #ff5f00;
	font-weight: bold;
}

.oil_login_main .oil_login_mid {
	font-size: 14px;
	text-align: right;
	padding-right: 26px;
}

.oil_login_main .oil_login_mid .oil_num2 {
	font-size: 18px;
	color: #ff5f00;
	text-align: right;
	display: inline-block;
	width: 50px;
	position: relative;
	right: 8px;
	top: 2px;
	margin-bottom: 6px;
}

.oil_login_main .oil_login_btn {
	text-align: center;
	margin: 15px 0px 15px 0px;
}

.oil_login_main .oil_login_btn input {
	border: 0px;
	width: 220px;
	height: 40px;
	background: url(../../images/oil/oil_loginbtn.png) no-repeat;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}

.oil_login_main .oil_login_bot {
	text-align: right;
	font-size: 14px;
	padding-right: 26px;
}

.oil_login_main .oil_login_bot a {
	color: #fe5e00;
}
/*3个图标*/
.oil_icon_cen {
	width: 1190px;
	margin: 0px auto;
}

.oil_icon_tab {
	padding: 40px 0px 50px 0px;
	text-align: center;
}

.oil_icon_tab .icon_tabtwo td {
	color: #333;
	font-size: 24px;
	padding: 15px 0px 20px 0px;
}

.oil_icon_tab .icon_tabtwo2 td {
	color: #333;
	font-size: 14px;
}
/*banner2*/
.oil_small_banner {
	position: relative;
	background-color: #485f81;
	height: 600px;
	width: 100%;
}

#slide_banner {
	width: 1090px;
	margin: 0px auto;
	position: relative;
}

#slide_banner,#slide_banner ul,#slide_banner ul li,#slide_banner ul li a
	{
	overflow: hidden;
	min-height: 600px;
}

#slide_banner ul li {
	float: left;
	display: none;
	position: absolute;
	z-index: 0;
}

.lbtn {
	width: 23px;
	height: 42px;
	position: absolute;
	top: 50%;
	left: 0;
	background: url(../../images/oil/oil_lbtn.png) no-repeat left top;
	margin-top: -38px;
	text-indent: -9999px;
	z-index: 888;
}

.rbtn {
	width: 23px;
	height: 42px;
	position: absolute;
	top: 50%;
	right: 0;
	background: url(../../images/oil/oil_rbtn.png) no-repeat right top;
	margin-top: -38px;
	text-indent: -9999px;
	z-index: 888;
}

#titleBar {
	position: absolute;
	bottom: 10%;
	left: 53.43%;
	text-align: center;
}

#titleBar span {
	float: left;
	margin: 0 5px;
	background: url(../../images/oil/oil_thum1.png) no-repeat 0 0;
	width: 12px;
	height: 12px;
	display: block;
}

#titleBar span.hover {
	background: url(../../images/oil/oil_thum3.png) no-repeat 0 0px;
	width: 12px;
	height: 12px;
}
/*手机下载*/
.oil_phone_down {
	background-color: #f3f4f8;
	border-bottom: 1px solid #cbd9e0;
	width: 100%;
	padding: 44px 0px 40px 0px;
}

.phone_down_main {
	width: 1090px;
	margin: 0px auto;
	padding: 0px 50px 0px 50px;
}

.phone_down_main dt {
	float: left;
	padding: 0px 155px 0px 30px;
}

.phone_down_main dt img {
	position: relative;
	top: 97px;
}

.phone_down_main .down_num {
	font-size: 18px;
	margin: 25px 0px 28px 0px;
	line-height: 29px;
}

.phone_down_main .phone_downbtn input {
	border: 0px;
	border: 1px solid #ff6836;
	border-radius: 5px 5px 5px 5px;
	color: #ff6836;
	background-color: #f3f4f8;
	width: 169px;
	height: 50px;
	font-size: 18px;
	margin-top: 28px;
	cursor: pointer;
}

.phone_down_main .phone_downbtn input:hover {
	color: #ff9e36;
}
/*常见问题*/
.oil_problem_main {
	width: 1090px;
	margin: 0px auto;
	padding-top: 44px;
}

.oil_problem_main h3 {
	text-align: center;
	font-size: 24px;
	color: #ff6836;
	margin-bottom: 60px;
}

.oil_problem_main li {
	float: left;
	width: 510px;
	height: 100px;
	margin-bottom: 50px;
}

.oil_problem_main li dt {
	color: #333;
	font-size: 18px;
	margin-bottom: 15px;
}

.oil_problem_main li dd {
	color: #646d7b;
	font-size: 14px;
	line-height: 20px;
}

.oil_problem_main a {
	text-decoration: underline;
	color: #0066ff;
}

/*旺金币说明*/
.coin_explain {
	border: 1px solid #e3e3e3;
	padding-bottom: 70px;
	background: url(../../images/oil/pic3.png) no-repeat bottom right;
}

.coin_explain_top {
	background: url(../../images/oil/pic2_bgtop.png) no-repeat;
	height: 64px;
	font-size: 26px;
}

.coin_explain_top span {
	position: relative;
	top: 35px;
}

.coin_explain_con h3 {
	color: #333;
	font-weight: bold;
	padding: 9px 0px 9px 0px;
}

.coin_explain_con p {
	line-height: 30px;
	text-indent: 2em;
	color: #55555;
}

.coin_explain_con2 {
	padding-left: 190px;
}

.rightsideBar  .coin_explain_con_tab {
	width: 376px;
	border-bottom: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
}

.coin_line2 {
	background-color: #ff7200;
	height: 2px;
	margin-top: -1px;
	width: 378px;
}

.border_blue2 {
	border-bottom: 1px solid #eff2f5;
}

.rightsideBar  .coin_explain_con_tab th,.rightsideBar  .coin_explain_con_tab td
	{
	padding-left: 19px;
}

.coin_explain_num {
	margin-top: 28px;
}

.rightsideBar .coin_explain_con_tab th {
	border-bottom: 1px solid #e9e9e9;
	background-color: #f9f9f9;
	color: #676767;
}

.rightsideBar .coin_explain_con_tab tr {
	line-height: 32px;
	color: #333333;
}

.rightBar_layers .gold_pic,.rightBar_layers .gold_pic2,.rightBar_layers .gold_pic3,.rightBar_layers .gold_pic4
	{
	width: 130px;
	height: 66px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.rightBar_layers .gold_pic,.rightBar_layers .gold_pic4 {
		width: 90px;
		height: 66px;
	}
	.rightBar_layers .gold_pic2,.rightBar_layers .gold_pic3 {
		width: 104px;
		height: 66px;
	}
}

.rightBar_layers .gold_pic {
	background: url(../../images/oil/gold_pic.png) no-repeat center;
}

.rightBar_layers .gold_pic5 {
	background: url(../../images/oil/oil_pic5.png) no-repeat 0px 21px;
	width: 36px;
}

.rightBar_layers .gold_pic2 {
	background: url(../../images/oil/gold_pic2.png) no-repeat center;
}

.rightBar_layers .gold_pic3 {
	background: url(../../images/oil/gold_pic3.png) no-repeat center;
}

.rightBar_layers .gold_pic4 {
	background: url(../../images/oil/gold_pic4.png) no-repeat center;
}
/*对公账户信息*/
.rightBar_procon table {
	color: #333;
}

.rightBar_procon table tr {
	line-height: 25px;
}

.card_apply_btn1 {
	width: 214px;
	height: 36px;
	color: #FFF;
	background-color: #FF7200;
	border: 0px none;
	border-radius: 2px;
	cursor: pointer;
	margin-top: 23px;
	font-weight: bold;
	font-size: 14px;
}

.card_apply_btn2 {
	width: 214px;
	height: 36px;
	border: 0px none;
	border-radius: 2px;
	cursor: pointer;
	margin-top: 23px;
	font-weight: bold;
	font-size: 14px;
}
/*开票信息*/
.billing_title{
 height:53px;
 line-height:53px;
}
.billing_a{
 background:url(../../images/oil/add-icon.png) no-repeat 0px 20px;
}
.next-lists-form table td.nextsel3{
 width: 410px;
}
.next-lists-form table td.form_fld2 span{
 position:relative;
 top:-10px;
}
/*开票申请*/
.inv-cont{
	width: 798px;
}
.inv-cont li{
	float: left;
	width:164px;
	height: 104px;
	border:1px solid #e6e6e6;
	margin:20px 0 0 20px;
	padding:5px 0 0 9px;
	background:#f8f8f8 url("../../images/oil/inv-bg.png") no-repeat center center;
}
.inv-cont li a{
	text-decoration: none;
	color: #555;
	display:inline-block;
	padding: 5px 0 0 9px;
	margin:-6px 0 0 -10px;
}
.inv-cont li span{
	display: block;
	float: left;
}
.inv-cont li .inv-cont-span1{
	line-height: 20px;
	height: 60px;
	width:164px;
}
.inv-cont li .inv-cont-span2{
	font-weight: bold;
	height: 44px;
	width:164px;
}
.inv-cont li .inv-cont-span2 span{
	margin-top:16px;
}
.inv-cont .inv-selected,.inv-cont a:hover {
	border: 1px solid #ff780a !important;
	background-color: #fff !important;
}
.inv-selected .inv-cont-span2,.inv-cont a:hover .inv-cont-span2 {
	background:url("../../images/oil/selected.png") no-repeat right bottom;
}
.next-lists-form table td.nextsel input.titlebtn2{
  width:101px;
  height:30px;
}
/*开票申请无发票*/
.billing_titlebtn .titlebtn{
 position:relative;
 top:0px;
}

/*开票申请提交按钮前*/
.billing_titlesbm {
	border: 0px;
	background-color: #ff7200;
	border-radius: 3px 3px 3px 3px;
	color: #fff;
	width: 101px;
	height: 30px;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	top: -4px;
}

/*开票申请提交按钮后*/
.billing_titlesbm2 {
	border: 0px;
	border-radius: 3px 3px 3px 3px;
	width: 101px;
	height: 30px;
	font-size: 14px;
	margin-left: 10px;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	top: -4px;
}
/*我要办卡--地址修改*/
.rightsideBar_bg{
 height: 62px;
 line-height: 62px;
 border-bottom: 1px solid #e9e9e9;
 padding-left: 20px;
 font-size:14px;
 color:#333333;
 background-color:#f6f6f6;
}