<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 数据源定义,使用c3p0 连接池 -->
	<bean id="oracleDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${oracle_driverClassName}" />
		<property name="jdbcUrl" value="${oracle_url}" />
		<property name="user" value="${oracle_user}" />
		<property name="password" value="${oracle_password}" />
		<property name="initialPoolSize" value="${oracle_poolSize}" />
		<property name="minPoolSize" value="1" />
		<property name="maxPoolSize" value="${oracle_maxPoolSize}" />
		<property name="acquireIncrement" value="2" />
		<property name="maxIdleTime" value="${oracle_maxIdleTime}" />
		<property name="idleConnectionTestPeriod" value="180" />
		<property name="automaticTestTable" value="C3P0TESTTABLE" />
	</bean>

	<bean id="baseOracleSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation">
			<value>classpath:com/ctfo/yppt/baseservice/resources/SqlMapConfig.xml
			</value>
		</property>
		<property name="dataSource" ref="oracleDataSource" />
	</bean>

	<bean id="baseOracleClientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient">
			<ref bean="baseOracleSqlMapClient" />
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="oracleDataSource" />
	</bean>

	<!-- 哪些类哪些方法使用事务 -->
	<aop:config proxy-target-class="true">
		<aop:pointcut id="serviceOperation"
			expression="execution(* com.ctfo.*.basemanager.*.impl.*.*(..))
						||execution(* com.ctfo.*.manager.impl.*.*(..))
						||execution(* com.ctfo.common.dao.DaoImpl.*(..))
						||execution(* com.ctfo.common.dao.support.ImplementationSupport.*(..))" />
		<aop:advisor pointcut-ref="serviceOperation" advice-ref="txAdvice" />
	</aop:config>

	<!-- 事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="add*" propagation="REQUIRED" rollback-for="Throwable"
				timeout="600" />
			<tx:method name="create*" propagation="REQUIRED"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="apply*" propagation="REQUIRED"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="update*" propagation="REQUIRED"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="modify*" propagation="REQUIRED"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="delete*" propagation="REQUIRED"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="remove*" propagation="REQUIRED"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="audit*" propagation="REQUIRED"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="build*" propagation="REQUIRED"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="callBack*" propagation="REQUIRED"
				rollback-for="Throwable" timeout="600" />
				
				
			<tx:method name="get*" propagation="SUPPORTS" read-only="true"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="find*" propagation="SUPPORTS" read-only="true"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="query*" propagation="SUPPORTS" read-only="true"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="count*" propagation="SUPPORTS" read-only="true"
				rollback-for="Throwable" timeout="600" />
			<tx:method name="*" propagation="REQUIRED" rollback-for="Throwable"
				timeout="600" />
		</tx:attributes>
	</tx:advice>
</beans>